<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Impulse</title>
</head>
<body>
    <%- include('./components/topnav')%>

    <%- include('./components/blogTemp')%>
</body>
</html>