<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Impulse - Login</title>
</head>
<body>
    <h1 onclick="window.location = '/'" style="cursor: pointer;">Impulse</h1>
    <form id="create-post">
        <h1>Login</h1>
        <input required type="text" name="username" id="username" placeholder="Username" style="height: 25px;" /><br>
        <input required type="password" id="password" placeholder="Password" style="height: 25px;"/><br>
        <input type="submit">
    </form>

    <script>
        let form = document.getElementById("create-post");

        form.addEventListener('submit', e => {
            e.preventDefault();

            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            let data = { username, password}

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(res => {
                if (res.status == 409) {
                    alert("account does not exist");
                } else if (res.status == 200) {
                    alert("successfully logged in");
                    localStorage.setItem("impulse-account", username);
                    window.location = "/";
                }
            });
        });
    </script>
</body>
</html>