<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Impulse</title>
</head>
<body>
    <form id="create-post" autocomplete="off">
        <h1 onclick="window.location = '/'" style="cursor: pointer;">Impulse</h1>
        <input required type="text" id="title" name="title" placeholder="title..." style="height: 25px;" /><br>
        <textarea required name="content" id="content" placeholder="main content..." style="height: 100px;"></textarea><br>
        <input type="submit" />
    </form>

    <script>
        const form = document.getElementById('create-post');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            let title = document.getElementById('title').value;
            let content = document.getElementById('content').value;
            let author = localStorage.getItem("impulse-account");

            const data = { author, title, content };
            fetch('/create-post', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
        });
    </script>
</body>
</html>